<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    {{ template "header" . }}
    <h1>Posting</h1>

    <form action="/posts/create" method="post" enctype="multipart/form-data">
        Create Post: <input type="text" name="create_post"><br>
        File: <input type="file" name="file"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>